# dateOfBirth

Describes the parameter on which user is eligible to take part in DAO, for now its date of birth.
